body {
  font-family: arial, calibri, times new roman;
  background-color: rgba(255,255,255,0.7);
}

h3, h1, h4 {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: normal;
  font-size: 1.5em;
}

h5 {
  padding-left: 30em;
}

li {
  height: 3em;
}

ul {
  list-style-image: url(gs2.png);
  text-decoration: none;
  padding-left: 3em;
}

html {
  background-size: 90%;
  background-image: url(gazbk.png);
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgb(133,132,129);
}

a {
  text-decoration: none;
  color: purple;
}

a:visited {
  color: black;
}

a:hover {
  background-color: purple;
  color: black;
  font-weight: bold;
}

audio, video {
  padding-top: 2em;
  padding-left: 1em;
}