li {
  list-style-image: url(tallp1.png);
  height: 3em;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  background-color: purple;
  color: white;
  font-weight: bold;
}

body {
  font-family: arial, calibri, times new roman;
  background-color: rgba(255,255,255,0.6);
  background-repeat: no-repeat;
}

h3, h1, h4 {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: normal;
  font-size: 1.5em;
}

html {
  background-position: left top;
  background-color: rgb(205,205,205);
}

ul {
  list-style-image: url(tallr.png);
  text-decoration: none;
  padding-left: 2em;
  padding-right: 1em;
}

audio {
  margin-top: 2em;
}