#nd {
  list-style-image: url(me.png);
}

#sp {
  list-style-image: url(sp.png);
}

#ch {
  list-style-image: url(ch.jpg);
}

#g {
  list-style-image: url(g.jpg);
}

#pf {
  list-style-image: url(pf.png);
}

h4 {
  padding-top: 1em;
  padding-left: 10em;
}

ul {
  padding-left: 7em;
}

li {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
}