h3, h4 {
      
text-align: center;
      
}
 
    
      
body {
      
background-image: url(back2.png);
      
background-repeat: no-repeat;
      
font-family: calibri, arial, times new roman;
      
background-color: rgb(32,32,32);
      
width: 99.3%;
      
-webkit-text-size-adjust: 100%;
      
}
      
      

#menu {
      
position: relative;
      
background-color: black;
      
top: 7em;
      
}
      
      

img.button {
      
margin-left: 5%;
     
margin-right: 5%;
      
}
      
      

#home {
      
margin-right: 2%;
margin-left: 4%;    
      
}
      
      

#about {
      
margin-right: 3%;
      
}
      
      

#h {
      
background-image: url(doom.png);
      
background-repeat: no-repeat;
      
background-position: center top;
      
padding-bottom: 6em;
      
background-color: black;
      
margin-top: -0.7em;
      
margin-left: -0.5em;
      
display: block;
      
}
     
      

img.space {
     
margin-left: 0.4em;
      
}
     
      

#center {
      
text-align: center;
      
}