body {
  font-family: arial, calibri, times new roman;
  font-size: 1.5em;
}

header {
  background-color: grey;
}

h3, p, h1 {
  padding-left: 2em;
  padding-right: 2em;
  font-weight: normal;
}

h3#a, h1 {
  text-align: center;
}

h5 {
  padding-left: 30em;
}

div {
  padding-left: 8em;
}

html {
  width: 100%;
  height: 90%;
  min-width: 900px;
  max-width: 1400px;
}

li {
  height: 3em;
  font-size: 1.6em;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: purple;
}

a:visited {
  color: rgb(183,94,183);
}

a:hover {
  background-color: pink;
  color: rgb(186, 0, 80);
  font-weight: bold;
}

form {
  padding-left: 19em;
  margin-top: 1em;
}

form.special {
  padding-left: 0em;
  margin-top: 1em;
}

ul {
  text-align: center;
}

audio {
  margin-top: 0.7em;
  padding-left: 16em;
}