ul {
  list-style-image: url(tallr.png);
  text-decoration: none;
  padding-left: 9em;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  background-color: red;
  color: gray;
  font-weight: bold;
}

body {
  font-family: arial, calibri, times new roman;
  background-color: rgba(255,255,255,0.6);
}

h3, h1, audio {
  padding-left: 2em;
  padding-right: 2em;
  font-weight: normal;
  font-size: 1.5em;
}

html {
  background-color: rgb(205,205,205);
  background-position: top;
  background-repeat: no-repeat;
}

audio {
  margin-top: 1em;
  padding-left: 9em;
}