ul {
  list-style-image: url(sizz.png);
  text-decoration: none;
  padding-left: 16em;
}

li {
  margin-bottom: 0.3em;
}

html {
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center top;
  background-color: rgb(137,1,23);
}

#pf {
  list-style-image: url(pg.png);
}

#me {
  list-style-image: url(me.png);
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  background-color: purple;
  color: black;
  font-weight: bold;
}

body {
  font-family: arial, calibri, times new roman;
}

h3, h1, audio {
  margin-left: 10em;
  margin-right: 10em;
  font-weight: normal;
  font-size: 1.5em;
}

h5 {
  padding-left: 30em;
}

html {
  width: 100%;
}

form {
  padding-left: 19em;
  margin-top: 1em;
}

form.special {
  padding-left: 0em;
  margin-top: 1em;
}

audio {
  margin-top: 2em;
}