#nd {
  list-style-image: url(me.png);
}

#sp {
  list-style-image: url(sp.png);
}

#ch {
  list-style-image: url(ch.jpg);
}

#g {
  list-style-image: url(g.jpg);
}

#pf {
  list-style-image: url(pf.png);
}

h4 {
  padding-top: 1em;
  padding-left: 16em;
}

ul {
  padding-left: 6em;
}

li {
  font-weight: bold;
}

object {
  padding-top: 1em;
  width: 100%; 
  height: 50em;
  overflow: auto;
  padding: none;
  margin-left: 1em;
}