#am {
  list-style-image: url(am.png);
}

#pf {
  list-style-image: url(pg.png);
}

#sc {
  list-style-image: url(sc.png);
}

#me {
  list-style-image: url(me.png);
}

#kf {
  list-style-image: url(kf.png);
}

#ka {
  list-style-image: url(ka.png);
}

#ke {
  list-style-image: url(ke.jpg);
}

#bu {
  list-style-image: url(bu.png);
}

#g {
  list-style-image: url(g.jpg);
}

#sp {
  list-style-image: url(sp.jpg);
}

#so {
  list-style-image: url(so.jpg);
}

h4 {
  padding-top: 1em;
  padding-left: 17em;
}

ul {
  padding-left: 20em;
}

li {
  font-weight: bold;
}

object {
  width: 100%; 
  height: 11em;
  overflow: auto;
  padding: none;
}