ul {
  list-style-image: url(tallr.png);
  text-decoration: none;
  padding-left: 16em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: gray;
  font-weight: bold;
}

body {
  font-family: arial, calibri, times new roman;
}

h3, h1, audio {
  margin-left: 10em;
  margin-right: 10em;
  font-weight: normal;
  font-size: 1.5em;
}

html {
  width: 100%;
}

h5 {
  padding-left: 30em;
}

html {
  background-image: url(r.png);
  background-size: 150%;
}

form {
  padding-left: 19em;
  margin-top: 1em;
}

form.special {
  padding-left: 0em;
  margin-top: 1em;
}

audio {
  margin-top: 2em;
}