html {
  width: 90%;
  min-width: 1300px;
  max-width: 1500px;
  background-color: black;
}

h3 {
  color: rgb(141,190,64);
  line-height: 0em;
  font-size: 3em;
}

h4 {
  color: rgb(237,40,145);
  line-height: 0em;
  font-size: 1.3em;
}

h5 {
  margin-left: 31.5em;
}

h2 {
  float: left;
}

a.zim {
  margin-left: 5em;
}

a.red {
  margin-left: 10em;
  margin-right: 2em;
}

h1 {
  margin-left: 4em;
  margin-right: 4em;
  float: left;
  font: 2em;
}

a.zimi {
  margin-left: 5em;
}

a.redi {
  margin-left: 10em;
  margin-right: 4em;
}

a.sizzi {
  margin-left: 4em;
}

a.sizz {
  margin-left: 5em;
}

a {
  color: white;
}

a.zim, a.dib, a.gaz, a.tak, a.gir, a.purple, a.red, a.sizz {
  text-decoration: none;
  color: rgb(183,94,183);
}

a.zim, a.dib, a.gaz, a.tak, a.gir, a.purple, a.red, a.sizz:visited {
  color: rgb(128,128,128);
}

a.zim:hover {
  background-color: pink;
  color: rgb(81, 36, 81);
  font-weight: bold;
}

a.dib:hover {
  background-color: grey;
  color: black;
  font-weight: bold;
}

a.gaz:hover {
  background-color: purple;
  color: black;
  font-weight: bold;
}

a.gir:hover {
  background-color: grey;
  color: rgb(135,206,250);
  font-weight: bold;
}

a.tak:hover {
  background-color: gray;
  color: purple;
  font-weight: bold;
}

a.red:hover {
  background-color: red;
  color: gray;
  font-weight: bold;
}

a.purple:hover {
  background-color: purple;
  color: white;
  font-weight: bold;
}

a.sizz:hover{
  background-color: purple;
  color: black;
  font-weight: bold;
}

html {
  font-family: invader, calibri, times new roman;
}