ul {
  list-style-image: url(tallr.png);
  text-decoration: none;
  padding-left: 16em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: darkred;
}

a:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}

body {
  font-family: arial, calibri, times new roman;
  background-color: rgba(255,255,255,0.8);
}

h3, h1, audio {
  margin-left: 10em;
  margin-right: 10em;
  font-weight: normal;
  font-size: 1.5em;
}

h5 {
  padding-left: 30em;
}

html {
  width: 100%;
  background-size: 101%;
  background-color: rgb(205,205,205);
}

form {
  padding-left: 19em;
  margin-top: 1em;
}

form.special {
  padding-left: 0em;
  margin-top: 1em;
}

audio {
  margin-top: 1em;
}